node_modules
.next
out
.git
.gitignore
.github
.husky
.vscode
coverage
logs
*.log
.env
.env.*
!.env.example
.dockerignore
Dockerfile
docker-compose.yml
.prettierrc
commitlint.config.mjs
eslint.config.mjs
postcss.config.mjs
pnpm-debug.log*
tsconfig.tsbuildinfo
.pnpm-store