NODE_ENV=

# WEBSITE URL
NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_VERCEL_URL=

# DATABASE SECRETS
POSTGRES_USER=santoshkumarsah
POSTGRES_PASSWORD=postgres
POSTGRES_DB=timesheet-tracker

# DATABASE URL
DATABASE_URL=




